/* Google Font CDN */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600&display=swap");

/* Global Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* CSS Variables */

:root {
  /* Colors */
  --color-white: #fff;
  --color-dark: #000;
  --color-dark-mid: #0f0f0f;
  --color-dark-light: #1a1a1a;

  /* Fonts */
  --font-primary: "Bebas Neue", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

.container {
  background-color: var(--color-dark-light);
  min-height: max-content;
}

/* HOME */

.home {
  height: 100vb;
  width: 100%;
  background-color: var(--color-dark-mid);
  color: var(--color-white);
  display: flex;
  align-items: end;
  position: relative;
}

.overlay {
  display: hidden;
}

.homeImg {
  height: 60rem;
}

.homeText {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 12rem;
  z-index: 2;
}

.homeText .headline {
  position: absolute;
  top: 8rem;
  left: 55%;
  transform: translateX(-50%);
  font-size: 3.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  font-family: var(--font-secondary);
}

.homeText span:nth-child(2) {
  font-size: 4.8rem;
  font-weight: 600;
  font-family: var(--font-primary);
  letter-spacing: 0.6rem;
  color: var(--color-dark-light);
}

.homeText h1 {
  font-size: 12rem;
  font-family: var(--font-primary);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.homeText p {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-white);
  opacity: 0.8;
  font-family: var(--font-secondary);
  letter-spacing: 0.2rem;
  padding-top: 4rem;
}

/* ABOUT */

.about {
  height: 60rem;
  background: var(--color-dark);
  margin: 0 8rem;
  color: var(--color-white);
  position: relative;
}

.aboutCard {
  width: 75%;
  height: 60%;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark-mid);
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 65%);
}

.aboutCard img {
  height: 100%;
}

.aboutCard p {
  padding: 6rem;
  font-size: 1.8rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.2rem;
}

/* BOOKS */
.books {
  height: 60rem;
}

.books .booksCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  margin: 0 16rem;
  transform: translateY(-30%);
  z-index: 6;
}

.booksCard .book {
  position: relative;
}

.book img {
  width: 100%;
  height: 100%;
}

.book .bookContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3.6rem 0;
}

.bookContent p {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  letter-spacing: 0.4rem;
  color: var(--color-white);
  opacity: 0.8;
}

.bookContent button {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 1rem 2.6rem;
  border: 0.4rem solid var(--color-white);
  background-color: transparent;
  color: var(--color-white);
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2s;
}

.bookContent button:hover {
  background-color: var(--color-dark);
}

/* DREAM */

.dream {
  height: 100%;
  background-color: var(--color-dark);
  margin: 0 8rem;
  transform: translateY(-30rem);
  padding: 30rem 15rem 15rem 15rem;
}

.dreamCard {
  color: var(--color-white);
  display: flex;
  background-color: var(--color-dark-light);
}

.dreamCard img {
  width: 60rem;
}

.dreamCard p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-secondary);
  font-size: 2rem;
  padding: 2rem;
}

/* Media Queries */

@media screen and (max-width: 1350px) {
  html {
    font-size: 54.5%;
  }
}

@media screen and (max-width: 1190px) {
  html {
    font-size: 50.5%;
  }

  .homeImg {
    display: none;
  }

  .home {
    background-image: url("/images/apj8.jpg");
    background-size: cover;
    background-position: center;
  }

  .homeText .headline {
    left: 50%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .homeText {
    align-self: flex-end;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 5rem;
    text-align: center;
  }

  .homeText h1 {
    opacity: 1;
  }

  .about {
    margin: 0;
  }

  .aboutCard {
    transform: translate(0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .aboutCard p {
    padding: 4rem;
  }

  .books {
    display: flex;
    align-items: center;
  }

  .books .booksCard {
    transform: translateY(0);
    margin: 0 4rem;
  }

  .bookContent p {
    font-size: 1.8rem;
  }

  .dream {
    transform: translateY(0);
    margin: 0;
    padding: 16rem 12rem;
  }
}

@media screen and (max-width: 925px) {
  .dream {
    padding: 12rem 6rem;
  }

  .dreamCard img {
    width: 40rem;
  }
}

@media screen and (max-width: 695px) {
  .homeText .headline {
    font-size: 2.8rem;
  }

  .homeText h1 {
    font-size: 6.8rem;
  }

  .about {
    height: 75rem;
  }

  .aboutCard {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 4rem 0;
    gap: 4rem;
    width: 80%;
    height: 80%;
    border-radius: 0.5rem;
  }

  .aboutCard img {
    height: 50%;
    border-radius: 0.5rem;
  }

  .aboutCard p {
    text-align: center;
    padding: 0 4rem;
  }

  .books {
    height: 100%;
    padding: 4rem 0;
  }

  .books .booksCard {
    grid-template-columns: repeat(2, 1fr);
    transform: translate(0);
    left: 0;
    top: 0;
  }

  .dream {
    padding: 6rem;
  }

  .dreamCard {
    flex-direction: column;
    align-items: center;
  }

  .dreamCard img {
    width: 100%;
  }

  .dreamCard p {
    gap: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .homeText .headline {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }

  .homeText h1 {
    font-size: 6rem;
  }

  .homeText p {
    font-size: 2rem;
    letter-spacing: 0;
    padding: 2rem;
  }

  .bookContent p,
  .bookContent button {
    font-size: 1.4rem;
  }
}
