/* Importing Font family */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap");

/* Variables */
:root {
  --color-main-dark: #352d4c;
  --color-main-mid: #504967;
  --color-main-light: #3b315c;
  --color-primary: #ebff03;
}

/* Global Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
}

body {
  height: 100vb;
  background-color: var(--color-main-mid);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Calculator Styles */

.calc {
  background-color: var(--color-main-dark);
  height: 60rem;
  width: 32rem;
  margin: auto;
  border-radius: 2.6rem;
  border: 0.2rem solid var(--color-primary);
  position: relative;
  overflow: hidden;
}

.blob {
  height: 1rem;
  width: 1rem;
  padding: 1.3rem 6rem;
  border-radius: 2rem;
  background-color: var(--color-main-mid);
  position: absolute;
  top: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
}

.calcBtns {
  height: 65%;
  background-color: var(--color-main-light);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  padding: 1.6rem;
  gap: 1rem;
}

.calcBtns button {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: var(--color-main-mid);
  color: var(--color-primary);
  font-size: 2rem;
  font-family: "Outfit";
  border: 0;
  transition: all 0.2s;
}

.calcBtns button:active {
  box-shadow: 0 0 1rem #fff;
}

.calcBtns .equals {
  grid-column: span 2;
  border-radius: 1rem;
  width: 100%;
}

.displayScreen {
  height: 35%;
  display: flex;
  align-items: end;
  justify-content: end;
}

.ans {
  width: 100%;
  padding: 2rem;
  text-align: end;
  font-size: 5.2rem;
  background-color: var(--color-main-dark);
  border: none;
  color: var(--color-primary);
}

.ans:focus {
  outline: none;
}
